@font-face {
    font-family: Montserrat;
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../Fonts/Raleway-VariableFont_wght.ttf);
}

header {
    display: flex;
    justify-content: space-around;
}

header h1 {
    font-family: Raleway;
    font-weight: bold;
}

header p {
    font-family: Montserrat;
}

a {
    text-decoration: none;
    color: #333;
}

.options {
    padding: 15px;
    font-family: Montserrat;
    font-weight: bold;
}

.menu-liste {
    display: flex;
    padding: 1.5rem;
    margin: 10px 10px;

}

.options-link {
    display: block;
    /* padding: 1.5rem; */
    text-decoration: none;
    /* font-weight: 800; */
    text-transform: uppercase;
    /* margin: 0 10px; */
    position: relative;
}

.options-link:hover {
    /* background-color: #F16822; */
    color: #eee;
    z-index: 1;
}

.options-link::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background-color: #F16822;
    opacity: 0;
    margin: auto;
}

.options-link:hover::after {
    z-index: -10;
    animation: fill 1s forwards;
    opacity: 1;
}

.logo {
    max-width: 280px;
    display: flex;
    flex-wrap: wrap;
}

.carousel {
    display: flex;
    width: auto;
    height: 960px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url(../images/slider1.png);
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.slider-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    overflow: scroll;
    /* smooth */
    scroll-behavior: smooth;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    height: 4rem;
    width: 2rem;
    margin: auto;
    background-color: #F16822;
    border: none;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.slide-arrow:hover {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.25rem;
    border-radius: 0.5rem 0 0 0.5rem;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

.carousel h2 {
    font-family: Raleway;
    font-weight: bold;
    font-size: 64px;
    color: #F16822;
}

.carousel p {
    font-family: Montserrat;
    font-size: 32px;
}

.carousel-services {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.services-liste {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* .logo-liste-item {
    background-color: #eee;
    border-radius: 100px;
    width: 125px;
    height: 125px;
} */

.services img {
    display: flex;
    text-align: center;
    align-items: center;
}

.services-liste-items {
    width: 317px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}


.briefcase {
    width: 125px;
    height: 125px;
    border-radius: 100px;
    background: no-repeat #ccc url(../images/briefcase.svg) center;
}

.note {
    width: 125px;
    height: 125px;
    border-radius: 100px;
    background: no-repeat #ccc url(../images/notes.svg) center;
}

.star {
    width: 125px;
    height: 125px;
    border-radius: 100px;
    background: no-repeat #ccc url(../images/star.svg) center;
}

.bolt {
    width: 125px;
    height: 125px;
    border-radius: 100px;
    background: no-repeat #ccc url(../images/bolt.svg) center;
}


.services h2,
h3 {
    font-family: Raleway;
    font-weight: bold;
}

.services p {
    font-family: Montserrat;
}

.images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}

.what {
    display: flex;
    width: auto;
    height: 913px;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url(../images/bokehback.png);
}


.what p {
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
}

.what h2 {
    color: #F16822;
    font-family: Raleway;
    font-weight: bold;
    font-size: 48px;
}

.latest-post {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
}

.latest-post h2 {
    font-family: Raleway;
    font-weight: bold;
    color: #F16822;
}

.latest-post .latest-post-desc {
    text-align: center;
    font-family: Montserrat;
}

.posts h4 {
    font-family: Raleway;
    font-weight: bolder;
    color: #F16822;
    font-size: 40px;
}

.posts p {
    font-family: Montserrat;
    font-size: 16px;
}

.blog-list {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    grid-auto-rows: auto;
}

.blog-list li {
    width: 400px;
    height: 602px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    margin-left: 50px;
}

.blog-list li img {
    margin-left: 25px;
}

.facts-list {
    padding-top: 50px;
}

.fun-facts::before {
    content: " ";
    background-image: url(../images/fond_facts.png);
    opacity: 0.1;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.fun-facts {
    padding-top: 100px;
    width: auto;
    height: 642px;
    text-align: center;
    position: relative;
}

.fun-facts h2 {
    font-family: Raleway;
    font-weight: bold;
    font-size: 40px;
}

.fun-facts li h2 {
    font-family: Montserrat;
    color: #F16822;
    font-size: 64px;
}

.fun-facts p {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
}

.facts-list {
    display: flex;
    justify-content: space-around;
}

.amanda {
    width: auto;
    height: 600px;
    background-image: url(../images/rect.png);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.amanda-content {
    width: 1280px;
    height: 220px;
    display: flex;
    align-items: center;
}

.amanda h2 {
    font-family: Raleway;
    font-weight: bold;
    font-size: 48px;
}

.amanda-image {
    border-radius: 100px;
}

.amanda-desc {
    font-family: Montserrat;
    font-size: 24px;
}

footer {
    padding-top: 50px;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    color: #ccc
}

.list-recent-post {
    list-style: url(../images/style_list.svg);
}

footer h5 {
    background-color: #444;
    color: #ccc;
    text-align: center;
    font-weight: normal;
    font-variant: small-caps;
    width: 90px;
    height: 24px;
}

footer h5:hover {
    background-color: #ccc;
    color: #444;
}

footer h2 {
    color: #F16822;
    font-variant: small-caps;
    font-family: Raleway;
    font-weight: bold;
}

footer li {
    font-family: Montserrat;
    font-weight: lighter;
}

h5 {
    font-family: Montserrat;
}

.tags-list {
    width: 236px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
}

.contacts-items::before {
    content: '';
    position: relative;
    top: .2rem;
    left: 0;
    display: inline flow-root list-item;
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.adress::before {
    background-image: url(../images/map_marker.svg);
}

.phone::before {
    background-image: url(../images/phone.svg);
}

.mail::before {
    background-image: url(../images/envelope.svg);
}


@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }

    50% {
        width: 100%;
        height: 1px;
    }

    100% {
        width: 100%;
        height: 100%;
        background: #F16822;
    }
}